body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eae4da ;
  color: #333;
  font-family: Arial, sans-serif;
}

.video-container {
  position: relative;
  text-align: center;
  width: 95%;
  max-width: 1200px;
}

video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
