@font-face {
  font-family: 'MiFuente';
  src: url('assets/retrolight/Retrolight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eae4da;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#texto-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: 30vh;
  background: #000;
  border-radius: 100px;

  z-index: 10;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}



#texto-box a {
  font-size: 120px;
  font-family: 'MiFuente', sans-serif;
  color: #eae4da;
  letter-spacing: 4px;
  text-decoration: none;
}

span {
  display: inline-block;
  animation: saltar 1s infinite;
}

span:nth-child(2) { animation-delay: 0.1s; }
span:nth-child(3) { animation-delay: 0.2s; }
span:nth-child(4) { animation-delay: 0.3s; }

@keyframes saltar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

a {
  cursor: pointer;
}

a:hover span {
  color: #9a845d;
  text-shadow: 0 0 10px #9a845d;
}
