html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

#filtro-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
  pointer-events: none; /* para que no bloquee el canvas */
  opacity: 0.4; /* ajusta la intensidad del filtro */
}
