/* Fuente personalizada */
@font-face {
    font-family: 'MiFuente';
    src: url('/assets/chemyretro/TT_Version/ChemyRetro_v01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 
body {
    font-family: 'MiFuente', Arial, sans-serif;
    background-color: #eae4da;
    text-align: center;
    padding-bottom: 50px;
}

#playBtn {
    position: absolute;         
    top: 120px;
    left: 30%;
    font-size: 36px;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #000000;
    color: #eae4da;
    font-weight: bold;
    font-family: 'MiFuente', Arial, sans-serif;
    z-index: 1000;
}

#playBtn:hover {
    background: #9a845d;
}

#animationLayer {
    display: none; 
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

#slideshow {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slideshow img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;    
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

#slideshow img.active {
    opacity: 1;
}


#galeria {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

#galeria img {
    width: 140px;
    height: auto;
    border-radius: 8px;
}


h2 {
    color: rgb(0, 0, 0);
    font-size: 120px; 
    text-align: left;
    margin-left: 5%; 
    margin-top: 80px;
    font-family: 'MiFuente', Arial, sans-serif;
}