@font-face {
    font-family: 'MiFuente';
    src: url('../assets/babel_sans/BabelSans-Oblique.ttf') format('truetype');
}


#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

body {
    font-family: 'MiFuente';
    background-color: #eae4da;
    text-align: center;
    margin: 0;
    padding: 0;
}


#playBtn {
    position: fixed;
    top: 190px;
    left: 13%;
    transform: translateX(-50%);
    font-size: 36px;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #000;
    color: #eae4da;
    font-family: 'MiFuente';
    z-index: 5;
}

#playBtn:hover {
    background: #9a845d;
}


#animationLayer {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    z-index: 10;
    justify-content: center;
    align-items: center;
}


#slideshow {
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slideshow img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0;
    position: absolute;
    transition: opacity .6s ease-in-out;
}

#slideshow img.active {
    opacity: 1;
}



h2 {
    color: black;
    font-size: 120px;
    text-align: left;
    margin-left: 5%;
    margin-top: 50px;
    z-index: 1;
    position: relative;
}


#animationLayer #slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}


#animationLayer #slideshow img.active {
    border: 12px solid #eae4da;
    border-radius: 12px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
}



#galeria {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

#galeria img {
    width: 140px;
    border: 4px solid black;
    border-radius: 8px;
    cursor: pointer;
}
