@font-face {
  font-family: 'MiFuente';
  src: url('/assets/chemyretro/TT_Version/ChemyRetro_v01.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eae4da;
  margin: 0;
  padding: 0;
  font-family: 'MiFuente', sans-serif;
}


#p{
    color: rgb(0, 0, 0);
    font-size: 120px;
    text-align: left;
    margin-left: 5%;
    margin-top: 80px;
}

a{
  position: fixed; 
  right: 8%;
  font-family: 'MiFuente', sans-serif;
  color: black;
  font-size: 36px;
}

.link1{top: 30%;}
.link2{top: 50%;}
.link3{top: 70%;}


span {
  display: inline-block;
  animation: saltar 2s ease-in-out infinite;
  cursor: pointer;
}

span:nth-child(2) { animation-delay: 0.1s; }
span:nth-child(3) { animation-delay: 0.2s; }
span:nth-child(4) { animation-delay: 0.3s; }

@keyframes saltar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}


a:hover span {
  color: #9a845d;
}
