@font-face {
  font-family: 'MiFuente';
  src: url('../assets/babel_sans/BabelSans-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'MiFuente', sans-serif;
  overflow: hidden;
}


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#p {
    color: rgb(0, 0, 0);
    font-size: 120px;
    text-align: left;
    margin-left: 5%;
    margin-top: 50px;
    position: relative;
    z-index: 10;
}

.menu-box {
  position: fixed;
  right: 0;
  width: 24%;             
  height: 95px;
  background: #000;       
  border-radius: 50px 0 0 50px;
  display: flex;
  align-items: center;
  padding-right: 5%;
  z-index: 5;
}



.box1 { top: 30%; }
.box2 { top: 50%; }
.box3 { top: 70%; }


a {
  color: #eae4da;
  font-size: 28px;
  text-decoration: none;
  font-family: 'MiFuente', sans-serif;
  z-index: 10;
  text-align: right; 
  width: 100%; 
  display: block;
}


span {
  display: inline-block;
  animation: saltar 2s ease-in-out infinite;
  cursor: pointer;
}

span:nth-child(2) { animation-delay: 0.1s; }
span:nth-child(3) { animation-delay: 0.2s; }
span:nth-child(4) { animation-delay: 0.3s; }

@keyframes saltar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

a:hover span {
  color: #9a845d;
}
